<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Hujan di Australia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="form">
        <h1>Prediksi Apakah Besok Hujan di Australia? </h1>
        <form action="{{ url_for('predict')}}" method="post">
            <!-- ['WindGustSpeed', 'Humidity9am', 'Humidity3pm', 'Cloud9am', 'Cloud3pm','RainToday']  --> 
            <input type="text" name="WindGustSpeed" placeholder="Wind Gust Speed" requireq="required">
            <input type="text" name="Humidity9am" placeholder="Humidity 9am" requireq="required">
            <input type="text" name="Humidity3pm" placeholder="Humidity 3pm" requireq="required">
            <input type="text" name="Cloud9am" placeholder="Cloud 9am" requireq="required">
            <input type="text" name="Cloud3pm" placeholder="Cloud 3pm" requireq="required">
            <input type="text" name="RainToday" placeholder="Rain Today" requireq="required">
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <p class="message">{{ prediction_text }}</p>
    </div>

</body>
</html>